@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

body {
  background-color: #CDCDE0;
  transition: background-color .5s;
  font-family: 'PT Sans Narrow', sans-serif;
}

.App {
  display: flex;
  height: calc(100vh - 1rem);
  align-items: center;
  justify-content: center;
}
